

.bgContainer1,
.bgContainer2,
.bgContainer3,
.bgContainer4,
.bgContainer5{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.bgContainer1{
    background-image: linear-gradient(to top, #001E23, rgba(255,0,0,0)),url("../../assets/ContainerImage/Sri_Lanka.jpg");
   
}

.bgContainer2{
    background-image: linear-gradient(to top, #001E23, rgba(255,0,0,0)),url("../../assets/ContainerImage/Australia.jpg");
  
}

.bgContainer3{
    background-image: linear-gradient(to top, #001E23, rgba(255,0,0,0)),url("../../assets/ContainerImage/Japan.jpg");
}

.bgContainer4{
    background-image: linear-gradient(to top, #001E23, rgba(255,0,0,0)),url("../../assets/ContainerImage/Thailand.jpg");
}

.bgContainer5{
    background-image: linear-gradient(to top, #001E23, rgba(255,0,0,0)),url("../../assets/ContainerImage/New_Zealand.jpg");
}